html,
body,
#app {
    height: 100%;
    margin: 0;
    padding: 0;
    min-width: 1366px;

}

.el-breadcrumb {
    margin-bottom: 15px;
    font-style: 12px;
}
.el-card {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15) !important;
}
.el-table {
    margin-top: 15px;
    font-style: 12px;
}
.el-pagination {
    margin-top: 15px;
}

.el-steps {
    margin: 20px 0;
}

.el-step__title {
    font-size: 14px;
}

.ql-editor {
    min-height: 300px;
}

.el-cascader-panel{
    height: 200px !important;
}
/* 删除确认el-pagination的背景颜色 */
.el-popover {
    position: absolute;
    background: #FFF;
    min-width: 150px;
    border: 1px solid #EBEEF5;
    padding: 12px;
    z-index: 2000;
    color: #606266;
    line-height: 1.4;
    text-align: justify;
    font-size: 14px;
    box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);
    word-break: break-all;
}
